footer {
  background-color: @brand-primary;
  color: @white;

  a:link, a:visited, a:hover, a:active {
      color: @white;
  }

  .info {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: left;

    @media (max-width: @screen-xs-max) {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;

      &:first-child {
        padding-top: 30px;
      }
      &:last-child {
        padding-bottom: 30px;
      }
    }

    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;

      @media (max-width: @screen-xs-max) {
        text-align: center;
      }
    }
  }

  h5 {
    font-weight: @font-weight-bold;
  }

  .sl-logo {
    background-image: url("images/sl-logo.svg");
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: 999%;
    padding: 0;
    margin: 0;
    line-height: 42px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    .no-svg & {
      background-image: url("images/sl-logo.png");
    }

    @media (max-width: @screen-xs-max) {
      background-position: center center;
    }
  }
}
