body {
  position: relative;
  padding-top: @navbar-height;
}

header.navbar {

  @transition-speed: 0.2s;

  transition: all @transition-speed;

  .navbar-brand {
    display: inline-block;
    .text-to-image("images/logo.svg");
    min-width: 200px;
    padding: 0;
    margin: 0;
    line-height: @navbar-height;

    transition: all @transition-speed;

    .no-svg & {
      background-image: url("images/logo.png");
    }

    @media (max-width: @screen-xs-max) {
      margin-left: @navbar-padding-horizontal;
    }
  }

  .navbar-nav > li > a {
    transition: all @transition-speed;
  }

  .navbar-right {
    margin-right: 0;
  }

  .beautify-navbar-collapse li {
    text-transform: lowercase;
    font-size: @font-size-large;
  }

  .navbar-toggle {
    transition: all @transition-speed;
  }

  @scrolled-navbar-height: 56px;
  &.scrolled {
    min-height: @scrolled-navbar-height;

    .navbar-brand {
      line-height: (@scrolled-navbar-height * 0.75);
      margin-top: (@scrolled-navbar-height * 0.125);
      margin-bottom: (@scrolled-navbar-height * 0.125);
    }

    @media (min-width: @grid-float-breakpoint) {

      .navbar-nav > li > a {
        padding-top: ((@scrolled-navbar-height - @line-height-computed) / 2);
        padding-bottom: ((@scrolled-navbar-height - @line-height-computed) / 2);
      }

    }

    .navbar-toggle {
      @element-height: 34px;
      margin-top: ((@scrolled-navbar-height - @element-height) / 2);
      margin-bottom: ((@scrolled-navbar-height - @element-height) / 2);
    }
  }

}