@brand-primary: #3b4455;
@white:         #fff;
@off-white:     #f5f5f5;
@brand-blue:    #00b9bc;
@brand-green:   #c7d658;
@brand-purple:  #b359a2;
@brand-pink:    #ea3c86;
@brand-orange:  #f9a54b;
@brand-yellow:  #ffd835;

@gray-darker:            lighten(@brand-primary, 13.5%);
@gray-dark:              lighten(@brand-primary, 20%);
@gray:                   lighten(@brand-primary, 33.5%);
@gray-light:             lighten(@brand-primary, 60%);
@gray-lighter:           lighten(@brand-primary, 93.5%);

@font-family-sans-serif: 'proxima-nova', Helvetica, Arial, sans-serif;
@font-weight:            400;
@font-weight-bold:       600;
@font-size-base:         16px;
@text-color:             @brand-primary;
@link-color:             @brand-blue;
@link-hover-color:       @brand-blue;
@line-height-base:       1.6;
@line-height-tight:      1.2;
@headings-font-weight:   @font-weight-bold;

@border-radius-base:  0;
@border-radius-large: 0;
@border-radius-large: 0;

@navbar-height:                    98px;
@navbar-default-color:             @white;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            @brand-primary;
@navbar-default-link-color:        mix(@white, @brand-primary, 80%);
@navbar-default-link-hover-color:  @white;
@navbar-default-link-hover-bg:     mix(@brand-primary, @white, 80%);
@navbar-default-link-active-color: @white;
@navbar-default-link-active-bg:    mix(@brand-primary, @white, 80%);

@container-lg: @container-md;

@brand-primary:         #2c3340;
@brand-primary-semi-transparent: rgba(44, 51, 64, 0.7);
@brand-primary-light:   #626977;
@brand-primary-lighter: #abaeb5;
@white:                 #fff;
@brand-magenta:         #a41555;
@brand-pink-light:      #b359a2;
@brand-pink:            #e83a84;
@brand-orange:          #f98b0f;
@brand-orange-light:    #f7a349;
@brand-yellow:          #fdd633;
@brand-green:           #009c41;
@brand-green-light:     #c5d556;
@brand-turquoise:       #00b9bc;

@gray-darker:            #555555;
@gray-dark:              #777777;
@gray:                   #999999;
@gray-light:             #bbbbbb;
@gray-lighter:           #dddddd;

@font-family-sans-serif: 'proxima-nova', Helvetica, Arial, sans-serif;
@font-weight:            400;
@font-weight-bold:       600;
@font-size-base:         16px;
@body-bg:                @white;
@text-color:             @brand-primary;
@link-color:             @brand-primary;
@link-hover-color:       @brand-primary;
@line-height-base:       1.6;
@line-height-tight:      1.2;
@headings-font-weight:   @font-weight-bold;

.btn { border: none; }
@btn-default-color: @white;
@btn-default-bg:    #4F5664;
@btn-primary-bg:    #E01E71;

@border-radius-base:  0;
@border-radius-large: 0;
@border-radius-large: 0;

@iphone-portrait-screen-width: 320px;
@iphone-portrait-screen-height: 480px;
@iphone-landscape-screen-width: @iphone-portrait-screen-height;
@iphone-landscape-screen-height: @iphone-portrait-screen-width;
