---
layout: page
title: Blog
---

<section class="row">
  <h1 class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12">Blog</h1>
</section>
<section class="row">
  <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12">
    {% for post in site.posts %}
      <article class="summary">
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
        <h5 class="sub author">
          {% assign author = site.data.authors[post.author] %}
          by {{ author.name }},
          on {{ post.date | date: "%d %b %Y" }}
          <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}" alt="{{ author.name }}" class="img-circle hidden-sm hidden-xs" />
        </h5>
        <p>
          {% if post.summary %}
          {{ post.summary }}
          {% else %}
          {{ post.content | truncatewords:50 | strip_html }}
          {% endif %}
        </p>
      </article>
    {% endfor %}
  </div>
</section>
