---
layout: default
title: Home
---
{% include header.html %}

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
        <h2 class="title">From Bland to Beautiful</h2>
        <p>At beautify our goal is to make it easier for developers and designers to work together and create beautiful apps. We're working hard on a set of tools that will make it easier to <strong>design</strong>, <strong>collaborate</strong> and <strong>test</strong> - all in real time.</p>
      </div>
    </div>
  </div>
</section>

<section class="feature beauty-is-a-struggle">
  <div class="container">
    <div class="row">
      <img class="col-lg-4 col-md-4 col-sm-4 hidden-xs" src="{{ site.baseurl }}/images/beauty-is-a-struggle.svg" alt="Beauty is a struggle" />
      <h3 class="title col-xs-12 visible-xs">Beauty is a struggle</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <p>App stores are crowded places. Everyone wants their app to stand out from the crowd, and what better way to do that than make it beautiful?<br/>
           <strong>The problem is, creating beautiful apps is hard...</strong>
        </p>
        <ul class="struggles row list-inline">
          <li class="col-lg-3 col-md-3 blue">The built-in native controls are inflexible and ugly; most developers just replace them with images.</li>
          <li class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 pink">The developer-designer workflow is painfully slow and awkward; often involving exchanging images via email, frequent app rebuilds and mismatches in tooling and process.</li>
          <li class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 green">Most developers can't draw!</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="feature ios">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h3 class="title">Introducing beautify for iOS</h3>
        <p>The beautify team have experienced the struggle to create beautiful apps on too many occasions. A few months ago, after a bit of brainstorming, we came up with a radical new approach to styling iOS apps, and we want to share it with you. <strong>With beautify for iOS, here are the simple steps you take...</strong></p>
        <img class="process" src="{{ site.baseurl }}/images/introducing.svg" />
        <ol class="process row">
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <img src="{{ site.baseurl }}/images/01.svg" alt="01" class="number" />
            Add the beautify framework to your existing app - this will enhance the capabilities of UIKit controls, adding gradients, shadows, borders and a whole host of whistles and bells.
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <img src="{{ site.baseurl }}/images/02.svg" alt="02" class="number" />
            Run your app on one or more devices, and make live changes to the style of the UI elements.
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <img src="{{ site.baseurl }}/images/03.svg" alt="03" class="number" />
            When you are happy, export the style as a configuration file and add this to your build.
          </li>
          <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <img src="{{ site.baseurl }}/images/04.svg" alt="04" class="number" />
            <strong>Bask in the glory of your beautiful app!</strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="feature what-next">
  <div class="container">
    <div class="row">
      <img class="col-lg-5 col-md-5 col-sm-5 hidden-xs" src="{{ site.baseurl }}/images/what-next.svg" alt="What next?" />
      <h3 class="title col-xs-12 visible-xs">What next?</h3>
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <p>Beautify is still under production, but we have a closed beta program and are aiming to make it open in the next few months.</p>
        <p><strong>If you want to be notified of progress, and join the beta program, please register your interest.</strong></p>
        <form id="interest" action="http://beautify.us7.list-manage.com/subscribe/post?u=1e6e13d9f376ab2b22c458c4c&amp;id=cf1cde751c" method="post" class="row">
          <input type="email" name="EMAIL" placeholder="EMAIL" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"/>
          <button type="submit" class="btn col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12">REGISTER</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}