  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>a project by</h4>
          <a href="">Scott Logic</a>
        </div>
        <div class="col-md-4">
          <h4>contacts</h4>
          <p><a href="">enquiries@beautify.io</a></p>
          <p><a href="">@beautifyio</a></p>
        </div>
        <div class="col-md-4">
          <h4>resources</h4>
          <p><a href="">github</a></p>
          <p><a href="">docs</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
