---
layout: page
---

{% assign author = site.data.authors[page.author] %}
<article class="row">
  <header class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
    <h1>{{ page.title }}</h1>
  </header>
  <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12 author">
    <div class="aside-container">
      <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}" alt="{{ author.name }}" class="img-circle" />
      <h6 class="author-name"><span class="extra">by </span>{{ author.name }}</h6>
      <div class="author-summary">{{ author.author-summary }}</div>
      <div class="sub">
        <div class="extra">published </div>
        {{ page.date | date: "%d %b %Y" }}
      </div>
    </div>
  </aside>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    {{ content }}
  </div>
</article>